name: build

on:
  push:
    branches:
      - main
      - feature/**
      - fix/**
      - bugfix/**
      - hotfix/**
  pull_request:
    branches:
      - main

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@v3
      - name: copy file
        uses: canastro/copy-file-action@master
        with:
          source: 'sample.trx'
          target: 'sample.trx'
      - name: Hello world action step
        uses: ./ # Uses an action in the root directory
        id: hello
        with:
          test-results: './'
          who-to-greet: 'Misha'
      # Use the output from the `hello` step
      - name: Get the output time
        run: echo "The time was ${{ steps.hello.outputs.time }}"
