name: test

on:
  push:
    branches:
      - main
      - feature/**
      - fix/**
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          npm ci
      - run: |
          npm run build
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        id: action_test
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          test-results: ./files/
          test-coverage: ./files/test_coverage_opencover.xml
          min-coverage: 46
          groups: '[{
              name: OpenCover
              test-results: ./files/
              test-coverage: ./files/test_coverage_opencover.xml
              min-coverage: 46
          }]'
